<div class="row ">
    <div class="col-2  mt-2 rounded shadow p-3 bg-warning" style="margin-left: 100px; min-height: 100vh ;">
        <app-sidebar></app-sidebar>

       
    </div>
    <div class="col-8">
                <h1 class="text-center text-warning mt-5">All recipe-list</h1>
                <div class="row my-5 mx-5">
                <div class="col-6">
                    <button class="btn btn-success">Add recipe</button>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control " placeholder="Search Recipe">
                </div>
                </div>
                <div class="row px-5">
                    <table class="table shadow">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Cuisine</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider table-divider-color">
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>
                                <img src="https://bing.com/th?id=OSK.4280f7f43816e28074d5bd79ae765512" width="100px" height="100px" alt="">
                            </td>
                            <td>mdo</td>
                            <td>
                                <a href="/admin/recipe/edit/:id"><i class="fa-solid fa-pen fs-3"></i> </a>
                                <i class="fa-solid fa-trash text-danger fs-3 ms-4"></i>

                            </td>
                          </tr>
                         
                          
                        </tbody>
                      </table>
                </div>

    </div>
</div>