.home{
    background-color: rgb(255, 142, 61);
}

.landingImg{
    transition: 2s;
}
.landingImg:hover{
    scale: 1.12;
    transition: 2s;
    rotate: 180deg;
}

h2{
   color: rgb(255, 142, 61);

}

.banner{
    background-image: url('https://nikosiexports.com/data/uploads/banner-1.jpg');
    width: 100%;
    height: 450px;
    background-position: center;
}